body
{
    background-color: #121212;
}

#wrapper
{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    font-family: arial, sans-serif;
    font-size: 14px;
	font-weight: 600;
}

header
{
    padding-top: 10px;
    padding-bottom: 10px;
}

header img
{
	border-radius: 20px;
}

/* Start header classes*/

section
{
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
	margin-left: 10px;
}

section img
{
	margin-right: 6px;
	border-radius: 10px;
}

section div p
{
	color: #FFFFFF;
  font-size: 16px;
}

/* Start section IDs */
#section-wrapper
{
	width: 960;
}

#section-container
{
	border-color: #717171;
	border-style: solid;
	border-radius: 20px;
	width: 600px;
	float: right;
	padding: 20px;
}

#my-image
{
	border-radius: 100px;
	margin-left: 33%;
}

#about-img
{
	top: 166px;
	left: 326px;
	position: absolute;
}

#resume-img
{
	top: 166px;
	left: 562px;
	position: absolute;
}

#projects-img
{
	top: 166px;
	left: 798px;
	position: absolute;
}

#projects
{
  margin: 10px;
}

#contact-img
{
	top: 166px;
	left: 1036px;
	position: absolute;
}

footer
{
    clear: both;
	padding-bottom: 10px;
	padding-top: 10px;
	height: 70px;
}

footer a
{
	float: left;
    color: #ffa500;
    text-decoration: none;
    margin-right: 15px;
	margin-left: 5px
}

footer img
{
	border-radius: 20px;
}
/* Start footer classes*/
.social
{
	float: right;
}
