body
{
    background-color: #121212;
}

#wrapper 
{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    font-family: arial, sans-serif;
    font-size: 14px;
	font-weight: 600;
}

header
{
    padding-top: 10px;
    padding-bottom: 10px;
}

header img
{
	border-radius: 50px;
}

/* Start header classes*/

section
{
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
	margin-left: 10px;
}

section img
{
	margin-right: 6px;
	border-radius: 20px;
}

section div p
{
	color: #FFFFFF;
}

/* Start section IDs */
#section-wrapper
{
	width: 960;
}

#section-container
{
	border-color: #717171;
	border-style: solid;
	border-radius: 20px;
	width: 600px;
	float: right;
	padding: 20px;
}

#my-image
{
	border-radius: 100px;
	margin-right: 15px;
	margin-bottom: 15px;
}

#about-img
{
	top: 166px;
	left: 480px;
	position: absolute;
}

#resume-img
{
	top: 166px;
	left: 716px;
	position: absolute;
}

#projects-img
{
	top: 166px;
	left: 952px;
	position: absolute;
}

#contact-img
{
	top: 166px;
	left: 1188px;
	position: absolute;
}

footer
{
    clear: both;
	padding-bottom: 10px;
	padding-top: 10px;
	height: 70px;
}

footer a
{
	float: left;
    color: #ffa500;
    text-decoration: none;
    margin-right: 15px;
	margin-left: 5px
}

footer img
{
	border-radius: 20px;
}
/* Start footer classes*/
.social
{
	float: right;
}

